@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


body{
  background-color: white;
  font-size: 20px;
  margin: 0;
  font-family: 'Montserrat';

}
.logoHome{
  width: 30rem;
  transition: 0.5s;
  margin: auto;
  display: block;
}
/* .logoHome:hover{
  width: 35rem;
} */
/* .Header{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
} */ 
/* .Header img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    transition: 0.5s;
} */

.logo:hover{
  cursor: pointer;
  width: 30rem;
} 

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

#centered-text {
  text-align: center;
}
h1 {
  color: #065739;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 80px;
  text-align: center;
}

h2 {
  font-size: 50px;
  color:#087021;
  margin-top: 5rem;
  margin-bottom: 7rem;
  text-align: center;
}

h3{
    text-align: center;
    color: #007932;
}
.h3{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
h4{
  margin-block-start: initial;
  margin-block-end: initial;
}

a:hover{
  cursor: pointer;
}
.flex-container {
    margin-top: 10rem;
    text-align: center;
}
  
  .btn1, .btn2 {
    font-family: 'Montserrat';
    font-weight: 600;
    width: 250px;
    height: 50px;
    font-size: 18px;
    border: 3px solid #007932;
  }

  .btn1:hover{
    background-color: #007932;;
    cursor: pointer;

  }
  .btn1{
    margin-left: 10px;
  }

  .btn2:hover{
    background-color: #007932;;
    cursor: pointer;
  }

/* #### Pie de página (footer) #### */

.pie-pagina {
  display: grid;
  justify-items: center;
  background-color: #007932;
  font-weight: 400;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;  
}

.grupo1 {
  height: 18vh;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-gap: 20px;
  width: 100%;
}

.grupo1 .box{
  padding: 1rem;
}
.links{
  padding-top: 1rem;
}

.box {
  /* background-color: #046b2f; */
  border-radius: 5px;
  /* box-shadow: 0 0 5px #ccc; */
}

.box a {
  margin-right: 3rem;
}

.box a:hover {
  cursor: pointer;
}


ul{
  list-style: none;
}
li {
  float: left;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 1rem;
}

#youtube img{
  width: 3rem;

}
#twitter img{
  width: 3rem;

}
#instagram img{
  width: 3rem;

}
#facebook img{
  width: 3rem;

}

#proyecto {
  width:120px;
  height: 50px;
  margin-right: 10px;
}
#junta {
  width: 90px;
  height: 50px;
  margin-right: 10px;
}
#uma {
  width: 120px;
  height: 50px;
  margin-right: 10px;
}
#vidaes {
  width: 150px;
  height: 50px;
  margin-right: 10px;
}

#logos{
  display: flex;
  align-items: center;
}
#redes{
  text-align: center;
}

h4{
  text-align: left;
}

.pie-pagina .grupo2{
  width: 100%;
  background-color: #066542;;
  padding: 15px 10px;
  text-align: center;
}


.link:hover{
  color: white;
}

strong{
  font-weight: 600;
}
/* #### Carrusel #### */

.logoVida{
  width: 25rem;
  margin: auto;
  display: block;
}

/* #### Modal #### */

.modalImg img{
  text-align: center;
  width: 15rem;
  margin-left: 128px;
  margin-bottom: 3rem;
}
/* #### Manual #### */

.manual-main{
  width: 70%;
  height: 90vh; /* Ajusta esto según tus necesidades */

  margin: 0 auto 7rem;
}

.manual-main h3{
  text-align: left;
}

.Cookies-main{
  width: 70%;
  height: 100vh; /* Ajusta esto según tus necesidades */

  margin: 0 auto 7rem;
}

.Cookies-main h3{
  text-align: left;
}
.Privacidad-main{
  width:70%;
  height: 100vh; /* Ajusta esto según tus necesidades */

  margin: 0 auto 7rem;
}

.Privacidad-main h3{
  text-align: left;
}

/* #### Footer 2 #### */

.footer2 .grupo1{
  background-color: #007932;
}

.footer2 .grupo2{
  background-color: #065739;
  padding: 15px 10px;
  text-align: center;
}
/* #### Icons  & Buttons #### */

.icon{
  width: 1.5rem;
  vertical-align: middle;
  margin-right: -4px;
  margin-left: 6px;
  fill: #007932;
}

/* #### Media Queries #### */

@media (max-width: 420px) and (max-height: 920px) {

  /* ####### Home ####### */

.flex-container{
  padding-left: initial;
    margin-top: initial; 
    margin-bottom: initial; 
    text-align: center;
    margin-top: 2rem;
}

.logoHome{
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

  /* .Header img{
    width: 15rem;
    margin-top: 1.5rem;
  } */
  .home{
    /* width: 2.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem; */
    display: none;

  }
  form{
    padding: 1rem;
    font-size: 20px;
  }
  .fontSizeButton{
    display: none;
  }

  /* .pie-pagina{
    position: relative;
    width: 100%;
  } */

  /* #### Manual #### */

  .manual-main{
    width: 80%;
    height: initial; /* Ajusta esto según tus necesidades */
  }
  .manual-main h3{
  margin-bottom: 1.5rem ;
  }

  /* ####### modal ####### */

  .flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .btn1, .btn2{
    font-size: 14px;
    min-width: 8rem;
  }


 /* ####### carrusel ####### */

body{
  background-color: white;
  height: 100vh;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  font-size: 20px;
  font-family: 'Montserrat';
}

.logoVida{
  width: 20rem;
  margin: 3rem auto 1rem auto;
}
h1{
  font-size: 40px;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

h3{
  font-size: 20px;
}

/* .Header{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

} */


.main{
  margin-top: 0.25rem;
}
/* 
.pie-pagina {
  display: grid;
  justify-items: center;
  background-color: #007932;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
} */

.pie-pagina{
  font-size: 10px;
}

.pie-pagina .grupo1{
  height: 5rem;
  padding: 0 0 1rem 0;
}


.pie-pagina .grupo1 .box figure a img{
    width: 3.5rem;
  }


.pie-pagina .grupo1 .box h4{
    margin-top: 15px;
    text-transform: lowercase;
    font-size: 8px;
  }

  .pie-pagina .grupo2{
    font-size: 11px;
    background-color: #065739;
    padding: 7px 5px;
    text-align: center;
  } 
  .links{
    padding: 1.5px;
    width: max-content;
  }
  
  .box a {
    margin-right: initial;
    font-size: 10px;
  }
  #proyecto {
    width: 60px;
    height: 25px;
    margin-right: 10px;
  }
  #junta {
    width: 60px;
    height: 33.33px;
    margin-right: 10px;
  }
  #uma {
    width: 60px;
    height: 25px;
    margin-right: 10px;
  }
  #vidaes {
    width: 60px;
    height: 20px;
    margin-right: 10px;
  }
  
  #logos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  /* ####### Manual de uso ####### */



.manual-container{
height: max-content;
}

/* 
.footer2 .grupo1{
  height: 5rem;
} */

.footer2 .grupo2{
  font-size: 11px;
  padding: 7px 5px;
  text-align: center;
  width: 100%;
}
}



/* ####### Resultado ####### */

#container{
  display: flex;
  flex-direction: column;
}
/* .resultado{
  margin-bottom: 5rem;
} */

.catalogo{
  margin-top: 12rem;
  text-align: center;
}
.catalogo p{
margin-bottom: 1rem;
}
