.fieldset-carousel {
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
  }
  
  .fieldset-carousel fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  
  .fieldset-carousel legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
  }
input{
  margin-left: 1.5rem;

}
  .fieldset-carousel p {
    /* font-size: 16px; */
    line-height: 1.5;
  }
  
  .fieldset-carousel .arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  
  .fieldset-carousel .button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .fieldset-carousel button:hover {
    background-color: #368f3f;
    font-weight: bolder;
  }
  .arrow{
    width: 50px;
    height: 50px;
  }
  .fontSizeButton{
    position: absolute;
    top: 3rem;
    right: 6rem;

  }
  .home{
    color:#545855;
  }
  a:hover{
    color: #2ba137;
  }
  /* @media (max-width: 420px) and (max-height: 920px) {
    
    .input-wrapper {
      display: inherit;
      align-items: inherit;
    }
  input{
    margin-left: inherit;
  
  }
  .flex-container{
    padding-left: initial;
  }
  .flex-container button{
    width: 15rem;
    height: 5rem;

  }
    .fieldset-carousel .arrows {
      margin-top: 20px;
  }
    .Header img{
      width: 15rem;
      margin-top: 1.5rem;
    }
    .home{
      width: 2.5rem;
      position: absolute;
      top: 1rem;
      left: 1rem;

    }
    form{
      padding: 1rem;
      font-size: 20px;
    }
    .fontSizeButton{
      display: none;
    }

    .pie-pagina{
      position: relative;
      width: 100%;
    }
    }
     */