
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


span{
    width: 10px;
}
.document{
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
input{
    height: 20px;
}
.checkbox{
    width: 20px;;
  }
.clear-both {
    clear: both;
  }


.img{
    margin-top: 1.5rem;
    text-align: left;
    border: 3px solid #368f3f;
    width: 50rem;
    border-radius: 5%;
}


h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* fieldset {
    background-color: #b9b3ab;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-color: #00ACC8;
    border: 9px groove (internal value);
    border-radius: 7px;
} */
legend {

    font-weight: bold;
}

.img{
    margin-left: 15px;
}

.img{
    width: 35rem;
}
.submitDiv{
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.submitDiv button{
    color: black;
    width: 10rem;
    height: 3rem;
    margin-bottom: 2rem;
}
.submitDiv button:hover{
    cursor: pointer;
}
.home{
    width: 60px;
    position: absolute;
    top: 3rem;
}