body{
  background-color:rgb(235, 229, 229);
  height: 100vh;
  font-size: 22px;
  margin: 0;
  font-family: Arial, sans-serif;

} 
h2{
    text-align: center;
    color:#00305E;
    font-size: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h3{
    text-align: center;
    color: #00305E ;
}
.modal1{

    margin: 17rem auto auto auto;
    width: 35rem;
}
.btn{
    text-align: center;
}