
body{
  background-color:rgb(235, 229, 229);
  height: 100vh;
  font-size: 20px;
  margin: 0;
  font-family: Arial, sans-serif;
} 
.Header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.Header img{
    margin-left: auto;
    margin-right: auto;
    width: 27rem;
}
h1{
    color: #00305E;
}
h3{
    margin-top: 6rem;
    text-align: center;
    color: #00305E;
}
span{
    width: 10px;
}
  h1{
    text-align: center;
  }
.flex-container {
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}
  
  
  .btn1, .btn2 {
    width: 200px;
    height: 320px;
    border-radius: 7%;
    border: 3px solid #00ACC8;
  }

  .btn1:hover{

    border: 3px solid #00305E;
    cursor: pointer;

  }
  .btn2{
    margin-left: 10px;
  }

  .btn2:hover:hover{
    border: 3px solid #00305E;
    cursor: pointer;
  }